@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
:root {
    --color-highlight: #fff;
    --font: 'Comfortaa', sans-serif;
}

html {
    overflow-y: hidden;
  }

.goo {
    font-size: 1.5rem;
    line-height: 1.35;
    display: inline;
    box-decoration-break: clone;
    background: var(--color-highlight);
    padding: 0.5rem 1rem;
    filter: url('#goo');
}

.goo:focus {
    outline: 0;
}

.edit {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: var(--color-bg2);
    text-transform: uppercase;
    font-size: 0.7rem;
    color: var(--color-highlight);
    border-radius: 1em;
}

body {
    padding: 0px 100px 0 100px;
    font-family: var(--font);
    background: linear-gradient(135deg, #5A567E, #5D1D34);
    height: 100vh;
    align-items: center;
    display: flex;
    /* justify-content: center; */
    margin-top: 250px;
    flex-direction: column;
}